In [21]:
import dash
from dash import dcc, html, Input, Output
import pandas as pd
import plotly.express as px
import pyodbc
import os

# Set up the database connection
connection_string ="Driver={ODBC Driver 18 for SQL Server};Server=tcp:modular-server.database.windows.net,1433;Database=modular;Uid=CloudSA1c5b822c;Pwd={Givemeinternship!};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"

In [22]:

"""Fetch unique security descriptions from the database."""
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()
query = "SELECT DISTINCT Security FROM mktdata;"
cursor.execute(query)
data = cursor.fetchall()

In [23]:
for row in data:
    print(row)

('06.79 GS 2034',)
('06.92 GS 2039',)
('07.04 GS 2029',)
('07.09 GS 2054',)
('07.10 GS 2029',)
('07.10 GS 2034',)
('07.17 GS 2030',)
('07.18 GS 2033',)
('07.23 GS 2039',)
('07.26 GS 2033',)
('07.32 GS 2030',)
('07.34 GS 2064',)
('07.37 GS 2028',)
('07.38 GS 2027',)
('08.20 GS 2025',)

In [26]:
cursor = conn.cursor()
query = """
SELECT Timestamp, Trades, TTA 
FROM mktdata 
WHERE Security = ? 
ORDER BY Timestamp;"""
cursor.execute(query, ("06.79 GS 2034",))
data = cursor.fetchall()

timestamps = []
trades = []
tta = []

for row in data:
    print(row)

(datetime.datetime(2025, 3, 12, 19, 17, 2), 1801, 17335.0)
(datetime.datetime(2025, 3, 12, 19, 20, 22), 1808, 17445.0)
(datetime.datetime(2025, 3, 12, 20, 35, 34), 1941, 18660.0)
(datetime.datetime(2025, 3, 12, 21, 4, 40), 1941, 18660.0)